/**********************************
GENERAL
***********************************/

body {
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

a {
    text-decoration: none;
}

img {
    max-width: 60%;
    max-height: 60%;
}

h3 {
    margin: 0 0 1em 0;
}



/**********************************
HEADING
***********************************/

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Changa One', sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 0.8em;
}

h2 {
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
}



/**********************************
FOOTER
***********************************/

footer {
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #ccc;
}

footer p {
    font-size: 1em;
    float: left;
}

footer a img {
    width: 15%;
    margin-bottom: 5%;
}

footer div {
    float: right;
}

footer div a {
    margin-left: 1em;
}



/**********************************
PAGE: PORTFOLIO
***********************************/

.gallery {
    display: grid;
    grid-template-columns: 50% 50%;
}



/**********************************
PAGE: ABOUT
***********************************/

.profile-photo {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    clear: both;
}



/**********************************
PAGE: CONTACT
***********************************/

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

/**********************************
COLORS
***********************************/

/* site body */
body {
    background-color: #fff;
    color: #999;
}

/* green header */
header {
    background: #6ab47b;
    border-color: #599a68;
}

/* logo text */
h1, h2 {
    color: #fff;
}

/* links */
a {
    color: #6ab47b;
}
